.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #000000; /* Adjust the background color to match your header */
    color: white; /* Set the text color to white */
    font-size: smaller;
    width: 100%;
    margin: 0;
}

.logo {
    height: 4rem;
}

.footer .links {
    display: flex;
    text-align: center;
    gap: 1rem; /* Space between links */
}

.footer .rightLink {
    margin-left: auto;
    text-align: center;
    color: white;
}

.smallRightLink {
    display: none;
}

.stackedLinks {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* Space between stacked links */
    text-align: center;
}
.copyRight {
    margin-top: -1.5rem;
}
.smallCopyRight {
    margin-top: -1.5rem;
    display: none;
}
@media (max-width: 991px) {
    .egLogo {
        display: none;
    }
    .footer {
        justify-content: space-evenly;
    }
    .copyRight {
        margin-top: 0rem;
        display: none;
    }
    .smallCopyRight {
        margin-top: 0rem;
        display: block;
    }
    .footer .smallRightLink {
        margin-left: auto;
        text-align: center;
        color: white;
        display: flex;
    }
    .rightLink {
        display: none;
    }
}
